<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="assets/brand/onlyoffice_favicon.ico" />
    <title>{{.Title}}</title>
    <script defer src="{{.OnlyOfficeServer}}/web-apps/apps/api/documents/api.js"></script>
    <script defer src="onlyoffice/onlyoffice.js"></script>
  </head>

  <style>
    html,
    body {
      margin: 0;
      padding: 0;
    }

    body {
      height: 100vh;
    }

    .logo-onlyoffice {
      position: absolute;
      height: 28px;
      top: 2px;
      left: 2px;
    }
  </style>

  <body>
    <img src="assets/brand/onlyoffice_logo.png" alt="Logo" class="logo-onlyoffice" />
    <div id="placeholder"></div>
  </body>
</html>
