////////////////////////////////////
//                                //
//   COMMON BULMA CUSTOMIZATION   //
//                                //
////////////////////////////////////

@charset "utf-8";

// Brand colors
$deep-blue: #3f51b5;
$grey: #78909c;
$light-grey: #b0bec5;
$very-light-grey: #fafafa;

// Bulma's global variables
$primary: $deep-blue;
$dark: $grey;
$light: $light-grey;
$radius-small: 5px;

// Bulma's component variables
$body-background-color: $very-light-grey;
$card-content-padding: 2rem;
$navbar-item-img-max-height: 2.5rem;
$navbar-background-color: $light;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: $dark;
$navbar-item-active-color: $primary;
$navbar-item-active-background-color: $very-light-grey;
$progress-border-radius: 0px;
$progress-indeterminate-duration: 1s;
$modal-card-head-padding: 15px;
$modal-card-head-background-color: $light-grey;
$modal-card-head-radius: $radius-small;

// Bulma imports
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/helpers/_all";
@import "node_modules/bulma/sass/layout/_all";

////////////////////////////////////
//                                //
// CUSTOMISATION BEYOND VARIABLES //
//                                //
////////////////////////////////////

/* Custom helpers */

.has-reduced-padding {
  padding: 0.5rem;
}

.flex-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Global alterations */

button {
  transition: 0.2s;
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

img {
  box-shadow: none;
}

.image.is-48x48 {
  overflow: hidden;
}

.media {
  cursor: pointer;
  margin-top: 0.5rem !important;
  padding-top: 0.5rem !important;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.media a {
  cursor: auto;
}

.label input[type="checkbox"] {
  margin-right: 0.5rem;
}

.dropdown-content {
  width: 11.8rem;
  word-wrap: break-word;
}

/* Component focused alterations */

.navbar,
.navbar-burger {
  height: 3.5rem;
}

@media screen and (min-width: 1024px) {
  .navbar-item {
    border-radius: $radius-small $radius-small 0 0;
    transition: 0.3s;
  }
}

.navbar-item img {
  margin-right: 10px;
}

.navbar-menu-icon {
  margin-right: 5px;
}

// To ensure color event if element is focused
a.navbar-item.is-active {
  background-color: $very-light-grey;
}

.notification {
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 1rem;
  width: 50%;
  transition: all 0.5s ease;
}

.notification:hover {
  z-index: 200;
}

.uploader {
  left: 5%;
  .content {
    overflow-wrap: break-word;
  }
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  max-width: 300px;
}

$card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

.icon-card {
  margin: 1rem;
  width: 12rem;
  border-radius: $radius-large;
  box-shadow: $card-shadow;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white;
}

.icon-card:hover {
  box-shadow: 0 5px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card {
  border-radius: $radius-small;
  box-shadow: $card-shadow;
}

.card-footer {
  border-top: none;
}

.modal-content {
  background-color: $very-light-grey;
  border-radius: $radius-large;
  max-width: 90%;
}

.modal-card {
  width: 95%;
  max-height: 95%;
}

.modal-card-head .delete {
  transition: 0.2s;
}

.modal-card-head .delete:hover {
  background-color: $deep-blue;
}

.modal-card-title {
  font-weight: bold;
}

.textarea:not([rows]) {
  min-height: 80vh;
}

.textarea {
  line-height: 1;
  font-family: "Lucida Console", monospace;
}

.shadow-icon {
  filter: drop-shadow(0.1rem 0.1rem 0.1rem grey);
}

.has-card-shadow {
  box-shadow: $card-shadow;
}

.small-radius {
  border-radius: $radius-small;
}