////////////////////////////////////
//                                //
//   COMMON BULMA CUSTOMIZATION   //
//                                //
////////////////////////////////////

@charset "utf-8";

// Brand colors
$deep-blue: #0d47a1;
$nice-red: #c2185b;
$grey: #78909c;
$light-grey: #b0bec5;
$very-light-grey: #eceff1;

// Bulma's global variables
$primary: $deep-blue;
$dark: $grey;
$light: $light-grey;

// Bulma's component variables
$body-background-color: $very-light-grey;
$card-content-padding: 2rem;
$navbar-item-img-max-height: 2.5rem;
$navbar-background-color: $light-grey;
$navbar-item-hover-color: $nice-red;
$navbar-item-hover-background-color: $dark;
$navbar-item-active-color: $nice-red;
$navbar-item-active-background-color: $very-light-grey;
$progress-border-radius: 0px;
$progress-indeterminate-duration: 1s;

// Bulma imports
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";

//@import "node_modules/bulma/sass/components/breadcrumb.sass";
@import "node_modules/bulma/sass/components/card.sass";
@import "node_modules/bulma/sass/components/dropdown.sass";
//@import "node_modules/bulma/sass/components/level.sass";
//@import "node_modules/bulma/sass/components/list.sass";
@import "node_modules/bulma/sass/components/media.sass";
//@import "node_modules/bulma/sass/components/menu.sass";
//@import "node_modules/bulma/sass/components/message.sass";
@import "node_modules/bulma/sass/components/modal.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
//@import "node_modules/bulma/sass/components/pagination.sass";
//@import "node_modules/bulma/sass/components/panel.sass";
//@import "node_modules/bulma/sass/components/tabs.sass";

//@import "node_modules/bulma/sass/elements/box.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/content.sass";
// DEPRECATED !!! @import "node_modules/bulma/sass/elements/form.sass";
@import "node_modules/bulma/sass/elements/icon.sass";
@import "node_modules/bulma/sass/elements/image.sass";
@import "node_modules/bulma/sass/elements/notification.sass";
@import "node_modules/bulma/sass/elements/other.sass";
@import "node_modules/bulma/sass/elements/progress.sass";
@import "node_modules/bulma/sass/elements/table.sass";
//@import "node_modules/bulma/sass/elements/tag.sass";
@import "node_modules/bulma/sass/elements/title.sass";

@import "node_modules/bulma/sass/form/shared.sass";
//@import "node_modules/bulma/sass/form/checkbox-radio.sass";
@import "node_modules/bulma/sass/form/file.sass";
@import "node_modules/bulma/sass/form/input-textarea.sass";
@import "node_modules/bulma/sass/form/select.sass";
@import "node_modules/bulma/sass/form/tools.sass";

@import "node_modules/bulma/sass/grid/columns.sass";
//@import "node_modules/bulma/sass/grid/tiles.sass";

@import "node_modules/bulma/sass/layout/footer.sass";
//@import "node_modules/bulma/sass/layout/hero.sass";
@import "node_modules/bulma/sass/layout/section.sass";

////////////////////////////////////
//                                //
// CUSTOMISATION BEYOND VARIABLES //
//                                //
////////////////////////////////////

/* Custom helpers */

.has-reduced-padding {
  padding: 0.5rem;
}

.flex-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Global alterations */

button {
  transition: 0.2s;
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

img {
  box-shadow: none;
}

.image.is-48x48 {
  overflow: hidden;
}

.media {
  cursor: pointer;
}

.media a {
  cursor: auto;
}

.label input[type="checkbox"] {
  margin-right: 0.5rem;
}

.dropdown-content {
  width: 12rem;
  word-wrap: break-word;
}

/* Component focused alterations */

.navbar,
.navbar-burger {
  height: 3.5rem;
}

.navbar-item img {
  margin-right: 10px;
}

.navbar-menu-icon {
  margin-right: 5px;
}

.navbar-item.is-active {
  border-style: none solid none solid;
  border-width: 1px;
}

a.navbar-item:focus {
  background-color: $very-light-grey;
}

.notification {
  z-index: 100;
  position: fixed;
  left: 45vw;
  bottom: 1rem;
  width: 50vw;
  transition: all 0.5s ease;
}

.notification:hover {
  z-index: 200;
}

.uploader {
  left: 5vw;
  .content {
    overflow-wrap: break-word;
  }
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-card {
  margin: 1rem;
  width: 12rem;
  transition: 0.3s;
}

.icon-card:hover {
  z-index: 10;
  transform: translateY(-2px);
  box-shadow: 0 1em 2em -0.25em rgba(10, 10, 10, 0.2), 0 0px 0 2px rgba(10, 10, 10, 0.04);
}

.modal-content {
  background-color: $very-light-grey;
  border-radius: $radius-large;
}
