////////////////////////////////////
//                                //
//   COMMON BULMA CUSTOMIZATION   //
//                                //
////////////////////////////////////

@charset "utf-8";

// Brand colors
$deep-blue: #304ffe;
$nice-red: #c2185b;
$grey: #78909c;
$light-grey: #b0bec5;
$very-light-grey: #eceff1;

// Bulma's global variables
$primary: $deep-blue;
$dark: $grey;
$light: $light-grey;
$radius-small: 2px;

// Bulma's component variables
$body-background-color: $very-light-grey;
$card-content-padding: 2rem;
$navbar-item-img-max-height: 2.5rem;
$navbar-background-color: $light-grey;
$navbar-item-hover-color: $nice-red;
$navbar-item-hover-background-color: $dark;
$navbar-item-active-color: $nice-red;
$navbar-item-active-background-color: $very-light-grey;
$progress-border-radius: 0px;
$progress-indeterminate-duration: 1s;
$modal-card-head-padding: 15px;
$modal-card-head-background-color: $light;
$modal-card-head-radius: $radius-small;
$modal-card-title-color: $very-light-grey;

// Bulma imports
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/helpers/_all";
@import "node_modules/bulma/sass/layout/_all";

////////////////////////////////////
//                                //
// CUSTOMISATION BEYOND VARIABLES //
//                                //
////////////////////////////////////

/* Custom helpers */

.has-reduced-padding {
  padding: 0.5rem;
}

.flex-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Global alterations */

button {
  transition: 0.2s;
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

img {
  box-shadow: none;
}

.image.is-48x48 {
  overflow: hidden;
}

.media {
  cursor: pointer;
}

.media a {
  cursor: auto;
}

.label input[type="checkbox"] {
  margin-right: 0.5rem;
}

.dropdown-content {
  width: 12rem;
  word-wrap: break-word;
}

/* Component focused alterations */

.navbar,
.navbar-burger {
  height: 3.5rem;
}

.navbar-item img {
  margin-right: 10px;
}

.navbar-menu-icon {
  margin-right: 5px;
}

.navbar-item.is-active {
  border-style: none solid none solid;
  border-width: 1px;
  @media screen and (min-width: 1024px) {
    border-radius: $radius-small $radius-small 0 0;
  }
}

// To ensure color event if element is focused
a.navbar-item.is-active {
  background-color: $very-light-grey;
}

.notification {
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 1rem;
  width: 50%;
  transition: all 0.5s ease;
}

.notification:hover {
  z-index: 200;
}

.uploader {
  left: 5%;
  .content {
    overflow-wrap: break-word;
  }
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  max-width: 300px;
}

.icon-card {
  margin: 1rem;
  width: 12rem;
  transition: 0.3s;
}

.icon-card:hover {
  z-index: 10;
  transform: translateY(-2px);
  box-shadow: 0 1em 2em -0.25em rgba(10, 10, 10, 0.2), 0 0px 0 2px rgba(10, 10, 10, 0.04);
}

.modal-content {
  background-color: $very-light-grey;
  border-radius: $radius-large;
  max-width: 90%;
}

.modal-card {
  width: 95%;
  max-height: 95%;
}

.modal-card-head .delete {
  transition: 0.2s;
}

.modal-card-head .delete:hover {
  background-color: $nice-red;
  transform: scale(1.1);
}

.modal-card-title {
  font-weight: bold;
}