.navbar-item img {
  max-height: 2.5rem;
  margin-right: 10px;
}

.has-reduced-padding {
  padding: 0.5rem;
}

.notification {
  z-index: 100;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 50vw;
}

.notification:hover {
  z-index: 200;
}

.uploader {
  left: 1rem;
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.label input[type="checkbox"] {
  margin-right: 0.5rem;
}

html {
  background-color: lightgray;
}

.flex-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-card {
  margin: 1rem;
  width: 12rem;
}

.icon-card:hover {
  z-index: 10;
}

.dropdown-content {
  width: 12rem;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
}
