.navbar {
  height: 56px;
}

.navbar-item img {
  max-height: 2.5rem;
  margin-right: 10px;
}

.navbar a svg {
  margin-right: 5px;
}

.has-reduced-padding {
  padding: 0.5rem;
}

.notification {
  z-index: 100;
  position: fixed;
  left: 45vw;
  bottom: 1rem;
  width: 50vw;
  transition: all 0.5s ease;
}

.notification:hover {
  z-index: 200;
  left: 25vw !important;
}

.uploader {
  left: 5vw;
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.label input[type="checkbox"] {
  margin-right: 0.5rem;
}

html {
  background-color: lightgray;
}

.flex-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-card {
  margin: 1rem;
  width: 12rem;
}

.icon-card:hover {
  z-index: 10;
}

.dropdown-content {
  width: 12rem;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
}

img {
  box-shadow: none;
}

.image.is-48x48 {
  overflow: hidden;
}

.media {
  cursor: pointer;
}

.media a {
  cursor: auto;
}
